<a href="https://colab.research.google.com/github/AishwaryaKyasari/Datascience/blob/main/Myntra_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AshishJangra27/Myntra-Data-Analysis

Cloning into 'Myntra-Data-Analysis'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 10 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [2]:
import pandas as pd
df=pd.read_csv("Myntra-Data-Analysis/products.csv")

In [3]:
df.isnull().sum()

product_name        0
brand_name          0
rating              0
rating_count        0
marked_price        0
discounted_price    0
sizes               0
product_link        0
img_link            0
product_tag         0
brand_tag           0
discount_amount     0
discount_percent    0
tags                0
seller_address      0
meta_description    0
meta_keyword        0
dtype: int64

### 2. Remove columns that are not in use

In [4]:
del df['product_link']
del df['img_link']
del df['meta_description']
del df['meta_keyword']

In [5]:
len(df.columns)
#brand Name are unique

13

### 3. Data Analysis - Numeric column

In [6]:
# Average Rating of all products
df['rating'].mean()

2.1832264430192403

In [7]:
# to calcualte the avg for only for those whose rating is given
sum1=0;
cnt=0;
for i in df['rating']:
  if i!=0.0:
    sum1+=i;
    cnt+=1
print(round((sum1/cnt),2))

4.16

##### most expensive product

In [8]:
df['marked_price'].max()

44950

In [9]:
# display all details of whose marked price is 44950
df[df['marked_price']==44950]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
4565,Men Leather Straps Automatic Motion Watch,EARNSHAW,0.0,0,44950,26970,Onesize,watches,earnshaw,17980,40,"accessories,men-accessories,watches,earnshaw-w...","NO.1, 3RD FLOOR, MARUTHI COMPLEX, R.T.NAGAR MA..."

#####3.2) Most Expensive Product(Disconted Price)

In [10]:
df[df['marked_price']==df['marked_price'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
4565,Men Leather Straps Automatic Motion Watch,EARNSHAW,0.0,0,44950,26970,Onesize,watches,earnshaw,17980,40,"accessories,men-accessories,watches,earnshaw-w...","NO.1, 3RD FLOOR, MARUTHI COMPLEX, R.T.NAGAR MA..."

In [11]:
'''max=0;
for i in len(df):
  if max<(df['marked_price']-df['discounted_price']):
    max=df['marked_price']-df['discounted_price']
    d=[]
print(d)
'''

"max=0;\nfor i in len(df):\n  if max<(df['marked_price']-df['discounted_price']):\n    max=df['marked_price']-df['discounted_price']\n    d=[]\nprint(d)\n"

### 3.4) Most discounted product (percentage)

In [12]:
df['discount_percent'].max()
#OR
df[df['discount_percent']==df['discount_percent'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
4157,Geometric Block Print Saree,HRITIKA,4.2,6,6099,609,Onesize,sarees,hritika,5490,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
4701,Poly Chiffon Saree,HRITIKA,0.0,0,7990,799,Onesize,sarees,hritika,7191,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
6106,Saree,HRITIKA,0.0,0,7990,799,Onesize,sarees,hritika,7191,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
8164,Poly Chiffon Saree,HRITIKA,0.0,0,6599,659,Onesize,sarees,hritika,5940,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
8212,Poly Chiffon Saree,HRITIKA,0.0,0,6599,659,Onesize,sarees,hritika,5940,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
12938,Saree,HRITIKA,0.0,0,6599,659,Onesize,sarees,hritika,5940,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
13005,Saree,HRITIKA,0.0,0,6599,659,Onesize,sarees,hritika,5940,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."
18226,Paisley Block Print Saree,HRITIKA,0.0,0,6099,609,Onesize,sarees,hritika,5490,90,"clothing,women-clothing,sarees,hritika-sarees","5005, RADHA RAMAN TEXTILE MARKET, NR. RKPL MAR..."

##### 3.5) Most Discounted Product(Discount Amount)

In [13]:
df[df['discount_amount']==df['discount_amount'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
6214,Textured 360-Degree Rotation Hard-Sided Trolle...,Safari,0.0,0,32997,9239,Pack,trolley-bag,safari,23758,72,"accessories,unisex-accessories,trolley-bag,saf...","SAGAR COMPLEX, BULDING NO.F1, GODOWN NO.1&2,OP..."

##### to check for discounted price

In [14]:
df_pr=df[df['discounted_price']>2000]
df_pr=df_pr[df_pr['discounted_price']<3000]
df_pr

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
36,Structured Handheld Bag,Baggit,0.0,0,2090,2090,M,handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma..."
56,Structured Handheld Bag,Lavie,0.0,0,4490,2469,M,handbags,lavie,2021,45,"accessories,women-accessories,handbags,lavie-h...","Cabin No. 6, Property 2, Gujarat Vihar, Vikas ..."
67,Men Slim Fit Trousers,Richlook,0.0,0,3498,2448,"32,34,36",trousers,richlook,1050,30,"clothing,men-clothing,trousers,richlook-trousers","PLOT NO 414, PHASE 3UDYOG VIHARGurugram , Hary..."
107,Unisex Rock & Ice 30 Rucksack,Wildcraft,0.0,0,2399,2399,Onesize,rucksacks,wildcraft,0,0,"accessories,unisex-accessories,rucksacks,wildc...","5th Floor, Office No 504, Punj Essen House, 17..."
144,Men Pleated Trousers,Louis Philippe,0.0,0,2999,2549,"30,32,34,36,38",trousers,louis-philippe,450,15,"clothing,men-clothing,trousers,louis-philippe-...","Ground Floor, No 65/64, old No 65, 6th Block, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24288,Girls Solid Trainers,H&M,0.0,0,2299,2299,"8Y,9Y,9-10Y,10-11Y,11-12Y",casual-shoes,hm,0,0,"footwear,girls-footwear,casual-shoes,h-and-m-c...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
24293,Semi-Stitched Lehenga Unstitched Blouse With D...,Fashion Basket,0.0,0,4699,2099,Onesize,lehenga-choli,fashion-basket,2600,55,"clothing,women-clothing,lehenga-choli,fashion-...","First Floor, WEST SIDE, SY NO.376, PLOT NO. 1,..."
24307,Women Embroidered Kurta Set,all about you,3.9,15,4499,2474,"XS,S,M,L,XL,XXL",kurta-sets,all-about-you,2025,45,"clothing,women-clothing,kurta-sets,all-about-y...","5th Floor, Office No 504, Punj Essen House, 17..."
24314,Men Striped Casual Shirt,U.S. Polo Assn. Denim Co.,0.0,0,2199,2177,"38,40,42,44,46",shirts,us-polo-assn-denim-co,22,1,"clothing,men-clothing,shirts,u.s.-polo-assn.-d...","10TH FLOOR, DU PARC TRINITY, NO 17, M.G ROAD, ..."
24319,Floral Maxi Dress,Mom For Sure by Ketki Dalal,0.0,0,2850,2850,"M,L,XL,XXL",dresses,mom-for-sure-by-ketki-dalal,0,0,"clothing,women-clothing,dresses,mom-for-sure-b...","GR FL 25, BHD. SHREEJI HOTEL, OSHIWARAMumbai ,..."

In [15]:
# if we want to print disconuted price for only H&M which is brand Name it the range of 2000-3000
df_HM=df[df['brand_name']=='H&M']
df_HMpr=df_HM[df_HM['discounted_price']>2000]
sol=df_HMpr[df_HMpr['discounted_price']<3000]
sol
#OR
df_pr=df[df['discounted_price']>2000]
df_pr=df_pr[df_pr['discounted_price']<3000]
df_pr=df_pr[df_pr['brand_name']=='H&M']
df_pr
# And if we want to sort it on discount_percent 
#df_pr.sort_values(by='discount_percent',ascending=False)

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
1193,Girls 5-Pack Jersey Leggings,H&M,0.0,0,2299,2299,"2-3Y,3-4Y,4-5Y,5-6Y,6-7Y,7-8Y,8-9Y,9-10Y",leggings,hm,0,0,"clothing,girls-clothing,leggings,h-and-m-leggings","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
1982,Boys 2-Pack Cotton Shorts,H&M,0.0,0,2299,2299,"8-9Y,9-10Y,10-11Y,11-12Y,12-13Y,13-14Y,14-15Y",shorts,hm,0,0,"clothing,boys-clothing,shorts,h-and-m-shorts","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
3326,Women Raglan-Sleeved Dress,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
3700,Sequin-Embellished Slip Dress,H&M,0.0,0,2699,2699,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
3703,Solid Track Jacket,H&M,0.0,0,2699,2699,"XS,S,M,L,XL",jackets,hm,0,0,"clothing,women-clothing,jackets,h-and-m-jackets","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
4029,Relaxed Fit Cotton hoodie,H&M,4.2,34,2699,2699,"S,M,L,XL",sweatshirts,hm,0,0,"clothing,men-clothing,sweatshirts,h-and-m-swea...",Not Mentioned
4576,Oversized Zip-Through Hoodie,H&M,0.0,0,2299,2299,"XXS,XS,S,M,L,XL",sweatshirts,hm,0,0,"clothing,women-clothing,sweatshirts,h-and-m-sw...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
4839,Braided Slides,H&M,0.0,0,2299,2299,"UK2,UK3,UK4,UK5,UK6,UK7,UK8,UK9",flats,hm,0,0,"footwear,women-footwear,flats,h-and-m-flats","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
5213,3-Pack Printed T-Shirts,H&M,0.0,0,2299,2299,"8-10Y,10-12Y,12-14Y,14-15Y",tshirts,hm,0,0,"clothing,boys-clothing,tshirts,h-and-m-tshirts","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
5404,Tie-Belt Jumpsuit,H&M,0.0,0,2999,2999,"XS,S,M,L,XL",jumpsuit,hm,0,0,"clothing,women-clothing,jumpsuit,h-and-m-jumpsuit","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
5407,Tie-Belt Jumpsuit,H&M,0.0,0,2999,2999,"XS,S,M,L,XL",jumpsuit,hm,0,0,"clothing,women-clothing,jumpsuit,h-and-m-jumpsuit","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
5540,V-neck Tie-belt Dress,H&M,3.6,9,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
6051,Women Open-Backed Dress,H&M,0.0,0,2299,2299,"4,6,8,10,14,12,18,16",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
6753,Boys 2-Pack Cotton Shorts,H&M,5.0,5,2299,2299,"8-9Y,9-10Y,10-11Y,11-12Y,12-13Y,13-14Y,14-15Y",shorts,hm,0,0,"clothing,boys-clothing,shorts,h-and-m-shorts","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
6856,Men Teddy Zip-Through Hoodie,H&M,4.6,28,2699,2699,"XS,S,M,L,XL",sweatshirts,hm,0,0,"clothing,men-clothing,sweatshirts,h-and-m-swea...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
8671,Women Padded Shacket,H&M,0.0,0,2699,2699,"XS,S,M,L,XL",jackets,hm,0,0,"clothing,women-clothing,jackets,h-and-m-jackets","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
10213,Women Solid Soft Shopper,H&M,4.6,28,2299,2299,Onesize,handbags,hm,0,0,"accessories,women-accessories,handbags,h-and-m...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
11253,Jute Laundry Basket,H&M,0.0,0,2299,2299,Onesize,laundry-bag,hm,0,0,"home-furnishing,unisex-home-furnishing,laundry...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
11657,Women Linen T-Shirt Dress,H&M,0.0,0,2699,2699,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
11756,Girls 3 Pack Joggers,H&M,0.0,0,2299,2299,"2-3Y,3-4Y,4-5Y,5-6Y,6-7Y,7-8Y,8-9Y,9-10Y",trousers,hm,0,0,"clothing,girls-clothing,trousers,h-and-m-trousers","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
11890,Polo-Neck Tunic,H&M,4.7,6,2299,2299,"XS,S,M,L,XL",tunics,hm,0,0,"clothing,women-clothing,tunics,h-and-m-tunics","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
12868,Women Linen T-Shirt Dress,H&M,0.0,0,2699,2699,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
13907,Tufted Cushion Cover,H&M,0.0,0,2299,2299,"18""X18""",cushion-covers,hm,0,0,"home-furnishing,unisex-home-furnishing,cushion...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
13918,Sequin-Embellished Slip Dress,H&M,0.0,0,2699,2699,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
13958,Sleeveless jacket dress,H&M,0.0,0,2999,2999,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
14109,Tufted Cushion Cover,H&M,0.0,0,2299,2299,"18""X18""",cushion-covers,hm,0,0,"home-furnishing,unisex-home-furnishing,cushion...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16165,5-Pack Cotton Jersey Dresses,H&M,0.0,0,2299,2299,"2-4Y,4-6Y,6-8Y,8-10Y",dresses,hm,0,0,"clothing,girls-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16432,Women Tie-Detail Dress,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16489,MAMA V-Neck Nursing Dress,H&M,3.9,7,2999,2999,"S,M,L,XL,XXL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16511,Relaxed Fit Zip-Top Hoodie,H&M,4.2,5,2299,2299,"XS,S,M,L,XL",sweatshirts,hm,0,0,"clothing,men-clothing,sweatshirts,h-and-m-swea...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16819,Women Motif-Front Hoodie,H&M,4.9,12,2299,2299,"XS,S,M,L,XL",sweatshirts,hm,0,0,"clothing,women-clothing,sweatshirts,h-and-m-sw...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16879,Solid Oversized Jacket,H&M,0.0,0,2299,2299,"8-9Y,9-10Y,10-11Y,11-12Y,12-13Y,13-14Y,14-15Y",blazers,hm,0,0,"clothing,girls-clothing,blazers,h-and-m-blazers","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
16918,Boys 3-Piece Tracksuit Set,H&M,0.0,0,2999,2099,"8-9Y,9-10Y,10-11Y,11-12Y,12-13Y,13-14Y,14-15Y",tracksuits,hm,900,30,"clothing,boys-clothing,tracksuits,h-and-m-trac...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
17841,Men 2 Slim Knit Jumpers,H&M,4.4,12,2999,2399,"XS,S,M,L,XL",sweaters,hm,600,20,"clothing,men-clothing,sweaters,h-and-m-sweaters","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
17898,Boys 2-Piece Terry Set,H&M,0.0,0,2699,2699,"18-24M,2-3Y,3-4Y,4-5Y,5-6Y,6-7Y,7-8Y,8-9Y,9-10Y",clothing-set,hm,0,0,"clothing,boys-clothing,clothing-set,h-and-m-cl...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
17979,Regular Fit Joggers,H&M,0.0,0,2299,2299,"28,31,34,38,41",trousers,hm,0,0,"clothing,men-clothing,trousers,h-and-m-trousers","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
18087,Off-The-Shoulder Dress,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses",Not Mentioned
18666,Women Small String Pouch Bag,H&M,0.0,0,2299,2299,Onesize,handbags,hm,0,0,"accessories,women-accessories,handbags,h-and-m...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
20209,Women Zip-through Hoodie,H&M,4.0,6,2299,2299,"XXS,XS,S,M,L,XL",sweatshirts,hm,0,0,"clothing,women-clothing,sweatshirts,h-and-m-sw...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
20716,Women Wide Lace-Trimmed Dress,H&M,0.0,0,2999,2999,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
20734,Women Wide Lace-Trimmed Dress,H&M,0.0,0,2999,2999,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
21699,Relaxed Fit Printed Sweatshirt,H&M,5.0,4,2299,2299,"XS,S,M,L,XL",sweatshirts,hm,0,0,"clothing,men-clothing,sweatshirts,h-and-m-swea...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
23098,Women Track Jacket,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",jackets,hm,0,0,"clothing,women-clothing,jackets,h-and-m-jackets","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
23189,Tie-Detail Dress,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
23247,Oversized Linen Shirt,H&M,3.6,9,2299,2299,"XS,S,M,L,XL",shirts,hm,0,0,"clothing,women-clothing,shirts,h-and-m-shirts","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
24121,Printed Linen-Blend Dress,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
24145,Women Lace-Knit Dress,H&M,0.0,0,2299,2299,"XS,S,M,L,XL",dresses,hm,0,0,"clothing,women-clothing,dresses,h-and-m-dresses","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."
24288,Girls Solid Trainers,H&M,0.0,0,2299,2299,"8Y,9Y,9-10Y,10-11Y,11-12Y",casual-shoes,hm,0,0,"footwear,girls-footwear,casual-shoes,h-and-m-c...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,..."

In [16]:
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address
0,Slim Fit Casual Shirt,Greenfibre,0.0,0,1699,1699,"38,39,40,42,44",shirts,greenfibre,0,0,"clothing,men-clothing,shirts,greenfibre-shirts","25-28, Pariseema Complex,Nr. Lal Bunglow Cross..."
1,Men Printed T-shirt,FREESOUL,0.0,0,799,799,"S,M,L,XL,XXL",tshirts,freesoul,0,0,"clothing,men-clothing,tshirts,freesoul-tshirts","21-E1,2ND PHASE, PEENYA INDUSTRIAL AREA,Bengal..."
2,Leather Two Fold Wallet,Da Milano,0.0,0,4499,4499,Onesize,wallets,da-milano,0,0,"accessories,women-accessories,wallets,da-milan...","85, Kapashera Bijwasan Road, New DelhiNew Delh..."
3,Pure Georgette Bandhani Saree,Mitera,3.6,5,6727,1681,Onesize,sarees,mitera,5046,75,"clothing,women-clothing,sarees,mitera-sarees","7007, Hindustan Textile Centre-2,Dumbhal,Surat..."
4,Men Geometric Printed Kurta,Indo Era,0.0,0,2599,1429,"S,M,L,XL,XXL",kurtas,indo-era,1170,45,"clothing,men-clothing,kurtas,indo-era-kurtas","4TH FLOOR, Block No B-4021/4022/4023/4026/4038..."

##### 3.7) finding all the brand names

In [17]:
len(df['brand_name'].unique())

2139

##### 3.8) Finding the Brand with most number of Products

In [18]:
# how many products are there for greenfibre brand name
data=[]
for brand_name in df['brand_name'].unique():
  c=0;
  for i in df['brand_name']:
    if i==brand_name:
      c+=1

  data.append([brand_name ,c])
data=pd.DataFrame(data,columns=['name','product'])

data.sort_values(by='product',ascending=False)

                  name  product
69            Roadster      633
16      Mast & Harbour      369
11          DressBerry      311
136           HERE&NOW      298
32                 max      289
...                ...      ...
1591    MASH UNLIMITED        1
1592  Essenza di Wills        1
1593          Softsens        1
1598      India Circus        1
2138        RARE ROOTS        1

[2139 rows x 2 columns]

In [19]:
data.head()

         name  product
0  Greenfibre       38
1    FREESOUL       50
2   Da Milano       26
3      Mitera       67
4    Indo Era      137

##### 3.9) Finding the top 10 most expensive Brands

In [20]:
#Doing above question similarly by using Group by clause
df.groupby('brand_name')# it will collect unique brand name and makes a group
df.groupby('brand_name').size().sort_values(ascending=False)# it will ckeck how many products are there in each brand name

brand_name
Roadster               633
Mast & Harbour         369
DressBerry             311
HERE&NOW               298
max                    289
                      ...
Nair                     1
Awadhi                   1
Atsevam                  1
Nuluv                    1
Awesomeskin Science      1
Length: 2139, dtype: int64

In [23]:
# to find the expensive brand we will find the avg price of a product in perticular brand
df.groupby('brand_name').mean()['marked_price'].sort_values(ascending=False)

brand_name
EARNSHAW               38950.0
Tom Ford               35900.0
dyson                  33900.0
Cerruti 1881           29999.0
TISSOT                 29250.0
                        ...
MISS NAILS               159.0
Khadi Natural            145.0
Awesomeskin Science      145.0
Young                    135.0
ELLE 18                   80.0
Name: marked_price, Length: 2139, dtype: float64

In [24]:
df.groupby('brand_name').mean()['discounted_price'].sort_values(ascending=False)

brand_name
Tom Ford         35900.000000
dyson            33900.000000
TISSOT           29250.000000
Cerruti 1881     26999.000000
EARNSHAW         21922.333333
                     ...
Nyassa             143.000000
Young              135.000000
Khadi Natural      126.500000
EveCare            115.000000
ELLE 18             74.000000
Name: discounted_price, Length: 2139, dtype: float64

In [25]:
#brands which are giving discounts is
df.groupby('brand_name').mean()['discount_percent'].sort_values(ascending=False)

brand_name
HRITIKA           89.454545
THE AAB STUDIO    89.000000
OOMPH             87.500000
Brandsoon         86.000000
HAMT              86.000000
                    ...
METAL              0.000000
METTLE             0.000000
MICHAEL ANGELO     0.000000
MISS NAILS         0.000000
M.A.C              0.000000
Name: discount_percent, Length: 2139, dtype: float64

In [26]:
df_pr=df[df['rating']!=0]
df_pr.groupby('brand_name').mean()['rating'].sort_values(ascending=False).head()

brand_name
London Rag      5.0
KREDO           5.0
UCLA            5.0
SHIRT THEORY    5.0
Apratim         5.0
Name: rating, dtype: float64

In [27]:
#Adressing Data preprocessing 
for i in df['seller_address'][:10]:
  print(i)

25-28, Pariseema Complex,Nr. Lal Bunglow Cross Road, C.G. RoadAhmedabad , Gujarat - 380006
21-E1,2ND PHASE, PEENYA INDUSTRIAL AREA,Bengaluru , Karnataka - 560058
85, Kapashera Bijwasan Road, New DelhiNew Delhi , Delhi - 110037
7007, Hindustan Textile Centre-2,Dumbhal,Surat , Gujarat - 395010
4TH FLOOR, Block No B-4021/4022/4023/4026/4038/4039/4040ASHIRWAD TEXTILE MARKET, OPP. LANDMARK TEXTILE MARKET, MAGOB,Surat , Gujarat - 395010
61B/ H G.J KHAN ROADNEAR ALAM TANNERYKolkata , West bengal - 700039
197 Industrial Area-ANear Cheema ChowkLudhiana , Punjab - 141003
Lalit Residency, 4th Floor,, Sahar, Andheri, Maharashtra, India, 400059, Sahar, Andheri, Maharashtra, India, 400059Sahar, AndheriMumbai , Maharashtra - 400059
6 FLOOR, A-3, 6056, OPP A-3 LIFT, SHREE KUBERJI WORLD KADODARA ROAD, SAROLI, SURATSurat , GUJARAT - 395010
11th Floor, Flat No. 1106, 1107, 26, Kailash, Kasturba Gandhi Marg, New Delhi, New Delhi, Delhi, 110001Delhi , Delhi - 110001

In [28]:
#create new columns which will tell me the the pincode from where it is coming and from which state etc
for i in df['seller_address'][:10]:
  print(i.split(' '))

['25-28,', 'Pariseema', 'Complex,Nr.', 'Lal', 'Bunglow', 'Cross', 'Road,', 'C.G.', 'RoadAhmedabad', ',', 'Gujarat', '-', '380006']
['21-E1,2ND', 'PHASE,', 'PEENYA', 'INDUSTRIAL', 'AREA,Bengaluru', ',', 'Karnataka', '-', '560058']
['85,', 'Kapashera', 'Bijwasan', 'Road,', 'New', 'DelhiNew', 'Delhi', ',', 'Delhi', '-', '110037']
['7007,', 'Hindustan', 'Textile', 'Centre-2,Dumbhal,Surat', ',', 'Gujarat', '-', '395010']
['4TH', 'FLOOR,', 'Block', 'No', 'B-4021/4022/4023/4026/4038/4039/4040ASHIRWAD', 'TEXTILE', 'MARKET,', 'OPP.', 'LANDMARK', 'TEXTILE', 'MARKET,', 'MAGOB,Surat', ',', 'Gujarat', '-', '395010']
['61B/', 'H', 'G.J', 'KHAN', 'ROADNEAR', 'ALAM', 'TANNERYKolkata', ',', 'West', 'bengal', '-', '700039']
['197', 'Industrial', 'Area-ANear', 'Cheema', 'ChowkLudhiana', ',', 'Punjab', '-', '141003']
['Lalit', 'Residency,', '4th', 'Floor,,', 'Sahar,', 'Andheri,', 'Maharashtra,', 'India,', '400059,', 'Sahar,', 'Andheri,', 'Maharashtra,', 'India,', '400059Sahar,', 'AndheriMumbai', ',', 'Maharashtra', '-', '400059']
['6', 'FLOOR,', 'A-3,', '6056,', 'OPP', 'A-3', 'LIFT,', 'SHREE', 'KUBERJI', 'WORLD', 'KADODARA', 'ROAD,', 'SAROLI,', 'SURATSurat', ',', 'GUJARAT', '-', '395010']
['11th', 'Floor,', 'Flat', 'No.', '1106,', '1107,', '26,', 'Kailash,', 'Kasturba', 'Gandhi', 'Marg,', 'New', 'Delhi,', 'New', 'Delhi,', 'Delhi,', '110001Delhi', ',', 'Delhi', '-', '110001']

In [31]:
for i in df['seller_address'][:10]:
  #print(i.split(' ')[-1])
  print(i.split(',')[-1])

 Gujarat - 380006
 Karnataka - 560058
 Delhi - 110037
 Gujarat - 395010
 Gujarat - 395010
 West bengal - 700039
 Punjab - 141003
 Maharashtra - 400059
 GUJARAT - 395010
 Delhi - 110001

In [33]:
for i in df['seller_address'][:10]:
  #print(i.split(' ')[-1])
  print(i.split(',')[-1].split('-')[0].strip())

Gujarat
Karnataka
Delhi
Gujarat
Gujarat
West bengal
Punjab
Maharashtra
GUJARAT
Delhi

In [34]:
picode=[]
for i in df['seller_address'][:10]:
  picode=i.split(' ')[-1]
  state=i.split(',')[-1].split('-')[0].strip()
  print(picode,state)

380006 Gujarat
560058 Karnataka
110037 Delhi
395010 Gujarat
395010 Gujarat
700039 West bengal
141003 Punjab
400059 Maharashtra
395010 GUJARAT
110001 Delhi

In [35]:
i

'11th Floor, Flat No. 1106, 1107, 26, Kailash, Kasturba Gandhi Marg, New Delhi, New Delhi, Delhi, 110001Delhi , Delhi - 110001'

In [36]:
df['seller_address'].describe()

count                                                 24324
unique                                                 1623
top       Second Floor, Plot No. 82, Okhla Industrial Es...
freq                                                   1872
Name: seller_address, dtype: object

In [37]:
df.groupby('seller_address').size().sort_values(ascending=False)

seller_address
Second Floor, Plot No. 82, Okhla Industrial Estate, Phase - III, New Delhi, Delhi, 110020Delhi , Delhi - 110020                  1872
Not Mentioned                                                                                                                    1445
5A/19,Ground Floor ( Front Portion),Ansari Raod,DaryaganjDelhi , Delhi - 110002                                                   965
406, B2 and C, 4th Floor,Centrum Plaza, Golf Course Road, Sector - 53,Gurugram , Haryana - 122102                                 851
11th Floor, Flat No. 1106, 1107, 26, Kailash, Kasturba Gandhi Marg, New Delhi, New Delhi, Delhi, 110001Delhi , Delhi - 110001     782
                                                                                                                                 ...
HOUSE NO 33, POCKET A1, SECTOR-8, ROHININEAR M2k ROHINIDelhi , Delhi - 110085                                                       1
H1-894, SALASAR BALAJI CREATIONS, PHASE iii, SITAPURA INDUSTRIAL AREAJaipur , Rajasthan - 302022                                    1
H.NO 18, N.H.8, NEAR PACE CITY AUTO PETROL PUMP, Hari Nagar GurgaonGurugram , HARYANA - 122001                                      1
3RD FLOOR, 301 BHANU KUNJ , TEJPAL ROAD,Mumbai , Maharashtra - 400057                                                               1
"602, RAJ KUTIR BUILDING, LINKING ROAD, KHAR WEST, Mumbai Suburban, Maharashtra, 400052"Mumbai , Maharashtra - 400052               1
Length: 1623, dtype: int64